// .ngx-country-select{
//     border: green;
//     width: 100px !important;
// }
.btn{
    padding: 8px 12px;
background-color: rgb(0, 132, 255);
border: none;
color: #fff;
border-radius: 5px;
box-shadow: 0px 1px 5px  rgb(0, 132, 255);
}
// .ngx-country-select{
//     background-color: #fff;
//     outline: none;
//     height: 40px;
    
// }
